<div class="container pt-2">
  <h1>No Log The Merge</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo feugiat libero, quis rutrum felis
    pellentesque quis. In hac habitasse platea dictumst. Etiam non neque magna. Vestibulum viverra augue sed mollis
    eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue, massa sed tincidunt porta, sapien
    dolor imperdiet dui, ut hendrerit massa felis vitae massa. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum interdum ex magna, non imperdiet velit bibendum eget. Nullam
    scelerisque massa in magna posuere maximus. Sed a mauris auctor arcu pharetra porta. Maecenas pharetra sollicitudin
    leo, in pretium arcu malesuada nec. Nam interdum ornare nisl ut ultrices. Praesent efficitur est sed vestibulum
    eleifend. Pellentesque sit amet pulvinar est. Donec lacinia nisl ac leo malesuada accumsan.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo feugiat libero, quis rutrum felis
    pellentesque quis. In hac habitasse platea dictumst. Etiam non neque magna. Vestibulum viverra augue sed mollis
    eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue, massa sed tincidunt porta, sapien
    dolor imperdiet dui, ut hendrerit massa felis vitae massa. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum interdum ex magna, non imperdiet velit bibendum eget. Nullam
    scelerisque massa in magna posuere maximus. Sed a mauris auctor arcu pharetra porta. Maecenas pharetra sollicitudin
    leo, in pretium arcu malesuada nec. Nam interdum ornare nisl ut ultrices. Praesent efficitur est sed vestibulum
    eleifend. Pellentesque sit amet pulvinar est. Donec lacinia nisl ac leo malesuada accumsan.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo feugiat libero, quis rutrum felis
    pellentesque quis. In hac habitasse platea dictumst. Etiam non neque magna. Vestibulum viverra augue sed mollis
    eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue, massa sed tincidunt porta, sapien
    dolor imperdiet dui, ut hendrerit massa felis vitae massa. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum interdum ex magna, non imperdiet velit bibendum eget. Nullam
    scelerisque massa in magna posuere maximus. Sed a mauris auctor arcu pharetra porta. Maecenas pharetra sollicitudin
    leo, in pretium arcu malesuada nec. Nam interdum ornare nisl ut ultrices. Praesent efficitur est sed vestibulum
    eleifend. Pellentesque sit amet pulvinar est. Donec lacinia nisl ac leo malesuada accumsan.</p>

    <button class="btn btn-primary">
      Do Something
    </button>
</div>
